.article {
  padding-top: 160px;
}

.article__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.article__main {
  width: ~"calc(100% - 300px)";
  
  .news__info {
    margin-top: 3px;
  }
}

.article__banner {
  width: 280px;
  margin-bottom: 20px;
}

.article__banner-block {
  width: 100%;
  position: relative;
  
  img {
    width: 100%;
    height: auto;
  }
}

.article__btn {
  position: absolute;
  bottom: 23px;
  left: 50%;
  transform: translateX(-50%);
  width: 112px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  .transition();
  
  &:hover,
  &:active {
    color: @green;
    .transition();
  }
}

.article__author {
  margin-left: 100px;
  .transition();
  
  &:hover,
  &:active {
    color: #000;
    .transition();
  }
}

.article__text {
  position: relative;
  padding-left: 135px;
  padding-right: 130px;
  
  img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.article__social {
  position: absolute;
  top: 0;
  left: 0;
  .reset();
  list-style: none;
}

.article__link {
  display: block;
  width: 28px;
  height: 28px;
  margin-top: 15px;
  border: 1px solid rgb(155, 155, 155);
  background-repeat: no-repeat;
  background-position: center;
  .transition();
  
  &--fb {
    background-image: url(../img/icons/icon-fb-grey.svg);
    background-size: 12px 21px;
  }
  
  &--vk {
    background-image: url(../img/icons/icon-vk-grey.svg);
    background-size: 21px 12px;
  }
  
  &--tw {
    background-image: url(../img/icons/icon-tw-grey.svg);
    background-size: 21px 18px;
  }
  
  &--tg {
    background-image: url(../img/icons/icon-telegram-grey.svg);
    background-size: 21px 18px;
  }
  
  &:hover,
  &:active {
    opacity: 0.7;
    .transition();
  }
}

.article__tags {
  margin-top: 75px;
  margin-bottom: 45px;
  font-size: 16px;
  text-transform: uppercase;
  
  span {
    font-weight: 700;
    margin-right: 40px;
  }
  
  a {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 12px 16px;
    border: 1px solid rgba(155, 155, 155, 0.5);
    border-radius: 4px;
    .transition();
    
    &:hover,
    &:active {
      border-color: @green;
      .transition();
    }
  }
}
