.content {
  width: 750px;
}

.content__list {
  .reset();
  list-style: none;
  padding-top: 50px;
  padding-right: 20px;
}

.content__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 25px;
  
  &:hover,
  &:active {
    .content__title {
      color: @green;
      .transition();
    }
    .content__img img {
      transform: scale(1.05);
      .transition();
    }
  }
}

.content__img {
  display: block;
  width: 270px;
  height: 205px;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  
  img {
    width: 100%;
    height: auto;
    .transition();
  }
}

.content__info {
  width: ~"calc(100% - 300px)";
  
  .news__info {
    margin-top: 0;
  }
}

.content__title {
  display: block;
  margin-top: 12px;
  font-size: 26px;
  .transition();
}
