.logo {
  position: relative;
  
  svg {
    fill: #fff;
    width: 180px;
    height: 35px;
  }
  
  &::after {
    content: "";
    position: relative;
    left: -4px;
    display: block;
    margin-top: 4px;
    width: 192px;
    height: 21px;
    background-image: url(../img/icons/tick.svg);
    background-size: 12px 7px;
  }
}

.logo-internal {
  padding-top: 5px;
  
  svg {
    fill: @green;
    width: 45px;
    height: 33px;
  }
}
