.menu {
  position: relative;
}

.menu__btn {
  display: none;
}

.menu__list {
  .reset();
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__item {
  margin-left: 22px;
  margin-right: 22px;
  font-size: 14px;
  line-height: 30px;
  .transition();
  
  &:hover,
  &:active,
  &--active {
    color: @green;
    .transition();
  }
}
