.subscribe__wrap {
  padding-top: 80px;
  padding-bottom: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  p {
    margin: 0;
    margin-top: -10px;
    font-size: 24px;
  }
  
  .subscribe__comment {
    margin-top: 0;
    font-size: 12px;
  }
}

.subscribe__block {
  margin-left: 100px;
}

.subscribe__comment {
  color: #9b9b9b;
  
  a {
    text-decoration: underline;
    
    &:hover,
    &:active {
      color: @green;
    }
  }
}

.subscribe__form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 510px;
  margin-bottom: 5px;
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid rgb(155, 155, 155);
}

.subscribe__input {
  flex-grow: 1;
  height: 50px;
  padding: 0 15px;
  font-size: 14px;
  color: #9b9b9b;
  
  &::placeholder {
    opacity: 1;
  }
}

.subscribe__bg {
  max-width: 595px;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 15px;
  padding-right: 35px;
  background-color: #f4f4f4;
}

.subscribe--internal {
  margin-bottom: 42px;
  
  p {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 16px;
  }
  b {
    display: block;
  }
  .subscribe__form {
    width: 100%;
    border: 0;
    background-color: #fff;
  }
  .subscribe__comment {
    margin-bottom: 0;
    font-size: 9px;
  }
}
